* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

h3 {
  text-decoration: underline;
}

b {
  text-decoration: underline;
}


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background: rgb(50, 50, 50);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
  z-index: 1000;
}

.logo {
  height: 4.25em;
}

.nav-links {
  color: rgb(232, 216, 138);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.nav-links a:hover {
  background-color: rgb(232, 216, 138);
  color: rgb(50, 50, 50);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

/* Sections */
section {
  padding-top: 5em;
  min-height: 100vh;
  font-size: 2em;
  font-weight: bold;
}


/* home */
.home { 
  background: url('../public/images/homeBg.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home button {
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background: rgb(232, 216, 138);
  color: rgb(50, 50, 50);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}


/* about */
.about { 
  background: #c8e6c9;
  display: flex;
  flex-direction: column;
}

.about h2, .about #about-p {
  padding-left: 2em;
}

.about-container {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
}

.about-container img {
  height: 10em;
  border-radius: 1em;

}

.about-desc {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}
.about-values {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 1em;
}

.about-values img {
  height: 10em;
  border-radius: 1em;
}

.values {
  text-align: center;
}


/* fleet */
.fleet { 
  background: #fff9c4; 
} /* Light Yellow */



/* contact */
.contact { 
  background: #ffcdd2; 
} /* Light Red */



/* Footer */
.footer {
  background: rgb(50, 50, 50);
  color: rgb(232, 216, 138);
  padding: 1em 0;
  text-align: center;
}

.footer a {
  color: rgb(232, 216, 138);
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0.2em;
}

#copyright {
  margin-top: 1em;
}

